<%- include("../parts/html-head") %> <%- include("../parts/navbar") %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page===1 ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="?<%= new URLSearchParams({...qs, page: 1}) %>"
            >
              <i class="fa-solid fa-circle-left"></i>
            </a>
          </li>

          <li class="page-item <%= page===1 ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="?<%= new URLSearchParams({...qs, page: page-1}) %>"
            >
              <i class="fa-regular fa-circle-left"></i>
            </a>
          </li>

          <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ const
          paramsObj = {...qs, page: i}; %>
          <li class="page-item <%= i===page ? 'active' : '' %>">
            <a class="page-link" href="?<%= new URLSearchParams(paramsObj) %>">
              <%= i %>
            </a>
          </li>
          <% } %>

          <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="?<%= new URLSearchParams({...qs, page: page+1}) %>"
            >
              <i class="fa-regular fa-circle-right"></i>
            </a>
          </li>

          <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="?<%= new URLSearchParams({...qs, page: totalPages}) %>"
            >
              <i class="fa-solid fa-circle-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-6">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          name="keyword"
          placeholder="Search"
          aria-label="Search"
          value="<% qs.keyword ? qs.keyword : '' %>"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="fa-solid fa-trash"></i></th>
            <th>#</th>
            <th>姓名</th>
            <th>電郵</th>
            <th>手機</th>
            <th>生日</th>
            <th>地址</th>
            <th><i class="fa-solid fa-pen-to-square"></i></th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
          <tr>
            <td>
              <a href="javascript: deleteOne(<%= r.sid %>)"
                ><i class="fa-solid fa-trash"></i>
              </a>
            </td>
            <td><%= r.sid %></td>
            <td><%= r.sid %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.mobile %></td>
            <td><%= r.birthday %></td>
            <td><%= r.address %></td>
            <td>
              <a href="/address-book/edit/<%= r.sid %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("../parts/scripts") %>
<script>
  const deleteOne = async (sid) => {
    if (confirm(`是否要刪除編號為${sid}的資料?`)) {
      const r = await fetch(`/address-book/${sid}`, {
        method: "DELETE",
      });
      const result = await r.json();
      console.log(result);
      location.reload();
    }
  };
</script>
<%- include("../parts/html-foot") %>
